<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/resources/css/canasta.css">
    <title>Document</title>
</head>
<body>
<div class='container'>
        <div class='order-info'>
            <div class='order-info-content'>
                <h1>Contenido de la orden</h1>
                <div class='line'></div>
                <table class='order-table'>
                    <tbody>
                    <tr>
                        <td><img src="resources/img/hamburguesa2.jpg"  alt="Steak" width="100" height="100"></img>
                        </td>
                        <td>
                            <h1>
                            <br> Hamburguesa clasica 2x1<br> <span class='thin small'><br></span>
                            </h1>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class='price'>$30.000</div>
                        </td>
                    </tr>
                    </tbody>

                </table>
                <div class='line'></div>
                <table class='order-table'>
                    <tbody>
                    <tr>
                        <td><img src="resources/img/hamburguesa4.jpg"  alt="Steak" width="100" height="100">
                        </td>
                        <td>
                            <h1>
                                <br> Hamburguesota<br> <span class='thin small'><br></span>
                            </h1>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class='price'>$24.000</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class='line'></div>
                <table class='order-table'>
                    <tbody>
                    <tr>
                        <td><img src="resources/img/hamburguesa3.jpg"  alt="Steak" width="100" height="100">
                        </td>
                        <td>
                            <h1>
                                <br> Hamburguesa Doble peso<br> <span class='thin small'><br></span>
                            </h1>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class='price'>$20.000</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class='line'></div>
                <div class='total'>
          <span style='float:left;'>
            <div class='thin dense'>Valor del pedido</div>
            <div class='thin dense'>Domicilio</div>
            TOTAL
          </span>
                    <span style='float:right; text-align:right;'>
            <div class='thin dense'>$74.000</div>
            <div class='thin dense'>$3.000</div>
           $77.000
          </span>
                </div>
            </div>
        </div>
        </div>

</body>
</html>

